.LiveProvider {
  margin-top: $basic-padding 0;
}
.LiveProviderContainer {
  margin: ($basic-padding * 2) 0;
}
.LivePreview > * {
  margin-right: 10px;
  margin-bottom: $basic-padding;
}
.liveEditor {
  background-color: $basic-background-color;
}
.expand {
  margin-top: 0;
  padding-top: 10px;
  border-top: 1px solid #d9d9d9;
}
.LivePreViewWarper {
  position: relative;
}
.base {
  height: 22px;
  position: absolute;
  padding: 0 10px;
  transition: all 0.5 ease;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  display: flex;
  justify-content: center;
  border: 1px solid white;
  align-items: center;
  font-size: 14px;
  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.copy {
  @extend .base;
  right: 5px;
  top: 5px;
}

.rest {
  @extend .base;
  right: 80px;
  top: 5px;
}

.textarea {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 1;
}
