.menuWrapper {
  height: 100vh;
  background-color: $basic-background-color;
  width: 300px;
  position: fixed;
  box-sizing: border-box;
  z-index: 10;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: $basic-padding $basic-padding 0 $basic-padding;
}

.headWrapper {
  height: 220px;
  display: flex;
  padding: 20px 0;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  color: white;
  justify-content: space-around;
  font-size: 32px;
}

.headerGithub {
  position: relative;
}

.balloon {
  position: absolute;
  left: -195px;
  top: -30px;
  p {
    font-size: 16px;
  }
}

.menus {
  flex: 1;
  overflow: auto;
}

.menu {
  font-size: 16px;
  height: 30px;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 2px;
  height: 35px;
  display: flex;
  align-items: flex-end;
}

.subMenu {
  font-size: 14px;
  height: 45px;
  display: flex;
  align-items: center;
  font-weight: bold;
  box-sizing: border-box;
  padding: 0 20px;
  text-decoration: none;
  color: #636363;
  font-size: 14px;
  letter-spacing: 1px;

  &:hover {
    background-color: #595959;
    color: #ffffff;
  }
}
.routeMenu {
  background-color: #434343;
  color: #ffffff;
}
