.#{injectPrefixCls(radio)} {
  margin-right: 10px;
}

.#{injectPrefixCls(radio-before-center)}:checked {
  + span {
    display: inline-flex;
    align-items: center;
    &::before {
      top: unset;
      margin-top: -15px;
    }
  }
}

.nes-radio.is-disabled {
  + span {
    color: gray;
    cursor: not-allowed;
  }
  + span::before {
    color: gray;
    cursor: not-allowed;
  }
  &:checked:hover,
  &:checked:focus {
    & + span::before {
      animation: unset;
    }
  }
}
